/* general styles */
h1 {
    text-align: center;
    font-size: 38px;
    margin-top: 10px;
}
#buttonRow{
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
}
.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 30px;
    background-color: #f5f5f5;
    text-align: center;
    padding-top: 2px;
    padding-bottom: 2px;
}

button:focus {
    outline: none !important;
}

/* project window: project input */
.color-example {
    float: left;
    width: 20%;
    height: 30px;
    margin-right: 6%;
    margin-bottom: 10px;
}
.color-example-end {
    margin-right: 0px;
}
/* for some reason Vue.js doesn't seem to like class names with hyphens in :class */
.colorSelected {
    border: 2px black solid;
}

.color-picker-row {
    margin-bottom: 40px;
}

#ce1 {
    background-color: #e51c23;
}

#ce2 {
    background-color: #ff9800;
}

#ce3 {
    background-color: #9c27b0;
}

#ce4 {
    background-color: #4caf50;
}

#ce5 {
    background-color: #2196f3;
}

.dropdown-menu {
    width: 200px;
    padding: 10px;
}

/* main window: activity list */
#activity-list{
    height: 350px;
    overflow-y: auto;
}
.activity-title {
    font-size: 1.2em;
    padding-top: 0px;
}
.activity-body {
    padding-top: 3px;
    padding-bottom: 8px;
}
.activity-button-column {
    padding-top: 12px;
    text-align: right;
    padding-right: 0px;
}
.activity-time-column {
    padding-top: 12px;
    text-align: right;
    padding-left: 0px;
}
.activity-time {
    font-size: 1.2em;
}

/* project window: project list */
#project-list{
    height: 340px;
    overflow-y: auto;
}
.project-body {
    padding-top: 3px;
    padding-bottom: 8px;
}
.project-name-column {
    padding-top: 10px;
}
.project-button-column {
    padding-top: 10px;
    text-align: right;
    padding-right: 0px;
}
.project-time-column {
    padding-top: 10px;
    text-align: right;
    padding-left: 0px;
    font-size: 1.2em;
}

/* projects window: report */
#report-table {
    width: 100%;
}

#report-table thead,
#report-table tbody,
#report-table tr,
#report-table td,
#report-table th{
    display: block;
}

#report-table tr:after {
    content: ' ';
    display: block;
    visibility: hidden;
    clear: both;
}

#report-table thead th {
    height: 30px;
}

#report-table tbody{
    height: 325px;
    overflow-y: auto;
    overflow-x: hidden;
}

#report-table tbody td,
#report-table thead th {
    width: 50%;
    float: left;
}

#report-table table {
    margin-bottom: 0px !important;
}

/* PDF report */
@media print {
    #project-list-table, #project-heading h1, #project-input, .report-button, .panel-title {
        display: none;
    }
    #report-table tbody {
        overflow-y: visible !important;
        height: auto !important;
    }
    .modal {
        position: absolute;
        left: 0;
        top: 0;
        margin: 0;
        padding: 0;
        visibility: visible;
        /**Remove scrollbar for printing.**/
        overflow: visible !important;
    }
    .modal-dialog {
        visibility: visible !important;
        /**Remove scrollbar for printing.**/
        overflow: visible !important;
    }
}

/* edit activity */
.edit-activity-duration-separator{
    text-align: center;
}