/* general styles */
h1 {
    text-align: center;
    font-size: 38px;
    margin-top: 10px;
}
#buttonRow{
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
}
.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 30px;
    background-color: #f5f5f5;
    text-align: center;
    padding-top: 2px;
    padding-bottom: 2px;
}

button:focus {
    outline: none !important;
}

/* PDF report */
@media print {
    #project-list-table, #project-heading, #project-input, .report-button{
        display: none;
    }
}

/* project window: project list */
#project-list-table {
    width: 100%
}

#project-list-table thead,
#project-list-table tbody,
#project-list-table tr,
#project-list-table td,
#project-list-table th{
    display: block;
}

#project-list-table tr:after {
    content: ' ';
    display: block;
    visibility: hidden;
    clear: both;
}

#project-list-table thead th {
    height: 30px;
}

#project-list-table tbody{
    height: 300px;
    overflow-y: auto;
    overflow-x: hidden;
}

#project-list-table tbody td,
#project-list-table thead th {
    width: 25%;
    float: left;
}

#project-list-table table {
    margin-bottom: 0px !important;
}

/* project window: project input */
.color-example {
    float: left;
    width: 20%;
    height: 30px;
    margin-right: 6%;
    margin-bottom: 10px;
}
.color-example-end {
    margin-right: 0px;
}
/* for some reason Vue.js doesn't seem to like class names with hyphens in :class */
.colorSelected {
    border: 2px black solid;
}

.color-picker-row {
    margin-bottom: 40px;
}

#ce1 {
    background-color: #e51c23;
}

#ce2 {
    background-color: #ff9800;
}

#ce3 {
    background-color: #9c27b0;
}

#ce4 {
    background-color: #4caf50;
}

#ce5 {
    background-color: #2196f3;
}

.dropdown-menu {
    width: 200px;
    padding: 10px;
}

/* main window: activity list */
#activity-list-table {
    width: 100%
}

#activity-list-table thead,
#activity-list-table tbody,
#activity-list-table tr,
#activity-list-table td,
#activity-list-table th{
    display: block;
}

#activity-list-table tr:after {
    content: ' ';
    display: block;
    visibility: hidden;
    clear: both;
}

#activity-list-table thead th {
    height: 30px;
}

#activity-list-table tbody{
    height: 325px;
    overflow-y: auto;
    overflow-x: hidden;
}

#activity-list-table tbody td,
#activity-list-table thead th {
    width: 25%;
    float: left;
}

#activity-list-table table {
    margin-bottom: 0px !important;
}

/* projects window: report */
#report-table {
    width: 100%
}

#report-table thead,
#report-table tbody,
#report-table tr,
#report-table td,
#report-table th{
    display: block;
}

#report-table tr:after {
    content: ' ';
    display: block;
    visibility: hidden;
    clear: both;
}

#report-table thead th {
    height: 30px;
}

#report-table tbody{
    height: 325px;
    overflow-y: auto;
    overflow-x: hidden;
}

#report-table tbody td,
#report-table thead th {
    width: 50%;
    float: left;
}

#report-table table {
    margin-bottom: 0px !important;
}